obj
bin
appsettings.development.json
.vs
*.gen
.idea
/eLime.NetDaemonApps/Properties/launchSettings.json
*.user
/eLime.NetDaemonApps/apps/.storage
/eLime.NetDaemonApps/apps/SolarBackup/SolarBackup.yaml
